<%= flash[:message] %>

<h1><%= @musician.name %> – <%= @musician.instrument_name %></h1>

<div class="bios_and_descriptions">
<%= @musician.bio unless @musician.bio.nil? %>
</div>

<h2><%= link_to "#{@musician.name}'s Upcoming Gigs", musician_gigs_path(@musician) %></h2>

<h3><%= link_to "All Gigs", gigs_path %></h3>

<% if logged_in? && @musician == current_user %>
  <%= button_to "Edit Profile", edit_user_path(@musician), method: 'get' %><br>
<% end %>
