<div class="success_message">
  <%= flash[:message] %>
</div>

<% if @musician.errors.any? %>
  <%= render partial: 'users/errors', locals: {user: @musician} %>
<% end %>

<h1><%= @musician.name %> – <%= @musician.instrument_name %></h1>

<% if !@musician.bio.nil? %>
  <h2>Bio:</h2>
  <div class="bios_and_descriptions">
    <%= @musician.bio %>
  </div>
<% end %>

<h2><%= link_to "#{@musician.name}'s Upcoming Gigs", musician_gigs_path(@musician) %></h2>

<% if logged_in? && @musician == current_user %>
  <%= button_to "Edit Profile", edit_musician_path(@musician), method: 'get' %><br>
<% end %>
