<h1>Editing <%= @user.name %>'s Profile</h1>

<% if !@errors.nil? %>
  <div class="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this user from being updated:</h2>

    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br>
  <%= f.label :type %>
  <%= f.select :type, options_for_select(%w[MusicDirector Musician]) %>
  <br>

  <p>NOTE: Only fill in the following fields if you have selected "Musician" as your type...</p>

  <%= f.label :instrument %>
  <%= f.collection_select :instrument_id, Instrument.all, :id, :name, :include_blank => true %>
  <br>

  <%= f.label "Pay Rate – $" %>
  <%= f.number_field :pay_rate, step: :any %>
  <br>
  <%= f.submit "Update Profile"%>
<% end %>
