<h1>Editing <%= @user.name %>'s Profile</h1>

<% if !@errors.nil? %>
  <div class="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this user from being updated:</h2>

    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url: "/users/#{@user.id}" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br>
  <%= f.label :type %>
  <%= f.select :type, options_for_select(%w[MusicDirector Musician]) %>
  <br>
  <% if @user.type == "Musician" %>
    <%= f.label :instrument %>
    <%= f.collection_select :instrument_id, Instrument.all, :id, :name, :include_blank => true %>
    <br>
    <%= f.fields_for :instruments, @user.instruments.build do |instruments_fields| %>
      <%= instruments_fields.text_field "New Instrument – Name" %>
      <%= instruments_fields.text_field :name %>
    <% end %>

    <%= f.label "Pay Rate – $" %>
    <%= f.number_field :pay_rate, step: :any %>
    <br>
  <% end %>
  <%= f.submit "Update User" %>
<% end %>
