<div class="error_explanation">
  <%= flash[:message] %>
</div>

<% if @music_director.errors.any? %>
  <%= render partial: 'users/errors', locals: {user: @music_director} %>
<% end %>

<h1><%= @music_director.name %></h1>

<div class="bios_and_descriptions">
<%= @music_director.bio unless @music_director.bio.nil? %>
</div>

<h2><%= link_to "#{@music_director.name}'s Upcoming Gigs", music_director_gigs_path(@music_director) %></h2>

<%= render 'users/links' %><br>

<% if logged_in? && @music_director == current_user %>
  <%= button_to "Edit Profile", edit_music_director_path(@music_director), method: 'get' %><br>
<% end %>
