<div class="error_explanation">
  <%= flash[:message] %>
</div>

<h1><%= @music_director.name %></h1>

<div class="bios_and_descriptions">
<%= @music_director.bio unless @music_director.bio.nil? %>
</div>

<h2><%= link_to "#{@music_director.name}'s Upcoming Gigs", music_director_gigs_path(@music_director) %></h2>

<% if logged_in? && @music_director == current_user %>
  <%= button_to "Edit Profile", edit_user_path(@music_director) %><br>
<% end %>
