<%= form_for gig do |f| %>
  <%= f.hidden_field :music_director_id, :value => params[:music_director_id] %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :start_date %>
  <%= f.datetime_field :start_date %>
  <br>
  <%= f.label :end_date %>
  <%= f.datetime_field :end_date %>
  <br>
  <%= f.label "Budget $" %>
  <%= f.number_field :budget, step: :any %>
  <br>
  <%= f.label "Add Instruments:" %>
  <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :name %>
  <br>
  <%= f.fields_for :instruments, gig.instruments.build do |instruments_fields| %>
    <%= instruments_fields.label "New Instrument Name" %>
    <%= instruments_fields.text_field :name %>
  <% end %>
  <br>
  <%= f.label :genre %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  <br>
  <% if gig.open_instrument_slots.any? %>
  <h4>Add Musicians:</h4>
    <% gig.open_instrument_slots.each do |instrument| %>
      <%= f.label "Add #{instrument.name} Player" %>
      <%= f.collection_check_boxes :musician_ids, instrument.musicians, :id, :name %><br>
    <% end %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
