<div class="success_message">
  <%= flash[:message] %>
</div>

<% if @gig.errors.any? %>
  <%= render partial: 'errors', locals: {gig: @gig} %>
<% end %>

<h1><%= @gig.title %></h1>

<p class="bios_and_descriptions"><%= @gig.description unless @gig.description.nil? %></p>

<h3>Music Director: <%= link_to @gig.music_director.name, music_director_path(@gig.music_director) %></h3>

<% if !@gig.location.blank? && !@gig.location.nil? %>
  Venue: <%= @gig.location %><br>
<% end %>

<% if same_day?(@gig) %>
  Date: <%= start_date_for_views(@gig) %><br>
  Time: <%= start_time_for_views(@gig) %><br>
<% else %>
  Start Date: <%= start_date_for_views(@gig) %> at <%= start_time_for_views(@gig) %><br>
  End Date: <%= end_date_for_views(@gig) %> at <%= end_time_for_views(@gig) %><br>
<% end %>

<% if @gig.musicians.any? %>
  <h4>Musicians Booked</h4>

  <div class="link_list">
    <ul>
      <% @gig.musicians.order_by_name.each do |musician| %>
      <li><%= link_to musician.name, musician_path(musician) %> – <%= link_to musician.instrument_name, instrument_path(musician.instrument) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @gig.open_instrument_slots.any? %>
  <h4>Open Instrument Slots</h4>

  <div class="link_list">
    <ul>
      <% @gig.open_instrument_slots.each do |instrument| %>
      <li><%= link_to instrument.name, instrument_path(instrument) %></li>
      <% end %>
    </ul>
  </div>

  <% if may_want_to_audition(current_user, @gig) && !@gig.auditions.any? {|a| a.musician == current_user} %>
    <h3>This gig has an open slot for <%= current_user.instrument_name %>.</h3>
    <%= form_for Audition.new do |f| %>
      <%= f.hidden_field :gig_id, value: @gig.id %>
      <%= f.hidden_field :musician_id, value: current_user.id %>
      <%= f.submit "Click Here To Audition" %>
    <% end %>
  <% elsif may_want_to_audition(current_user, @gig) && !audition_denied?(@gig) %>
    <div class="success_message">
      <h3>You have requested to audition for this gig. Good luck!</h3>
    </div>
  <% elsif may_want_to_audition(current_user, @gig) && audition_denied?(@gig) %>
    <div class="error_explanation">
      <h3>We're sorry, but you did not get the gig. Hope you have better luck with the next one!</h3>
    </div>
  <% end %>
<% end %>

<% if @gig.music_director == current_user %>
  <p>Current Budget: $<%= @gig.budget %><br>
    <% if open_auditions?(@gig) && !happened_already?(@gig) %>
     <h3>The following musicians are auditioning for <%= @gig.title %>!</h3>
      <% @gig.auditions.each do |a| %>
        <% if a.open == true %>
          <%= link_to a.musician.name, musician_path(a.musician) %> on <%= a.musician.instrument_name %><%= button_to "Decline Services", audition_path(a), method: "patch" %><br>
        <% end %>
      <% end %>
      <br>
    <% elsif @gig.auditions.any? && happened_already?(@gig) %>
      <% @gig.auditions.destroy_all %>
    <% end %>

  <%= link_to "Edit Gig/Book Musicians", edit_music_director_gig_path(current_user, @gig), method: 'get' %><br>
  <%= link_to "Delete Gig", music_director_gig_path(current_user, @gig), method: 'delete' %>
<% end %>
